<div class="container">
    <h1>My personal homepage</h1>
    <p>You can read more about me, or read my blog.</p>
    <%= link_to "About me", about_path %>
    <%= link_to "Posts", posts_path %>
</div>
